* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: #edf1fd;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

li {
	list-style: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

button {
	background-color: rgb(18, 155, 155);
	padding: 4px 10px;
	width: fit-content;
	color: white;
	border-radius: 5px;
	font-weight: 600;
	border: 1px solid white;
	cursor: pointer;
}

button:hover {
	background-color: white;
	border: 1px solid black;
	color: black;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

nav .logo {
	font-weight: 700;
	font-size: 30px;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 30px;
	font-weight: 500;
}

nav ul li:hover {
	text-decoration: underline;
	font-weight: 900;
}

.search {
	display: flex;
	gap: 35px;
}

input {
	padding: 4px 10px;
	border-radius: 8px;
}

.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.hero-left-section {
	font-size: 20px;
	margin: 100px;
	font-weight: 700;
}

.hero-left-section h1 span {
	color: rgb(18, 155, 155);
	font-weight: 900;
	font-size: 2.5rem;
}

.hero-left-section p {
	font-weight: 500;
}

.hero-left-section p span {
	color: rgb(18, 155, 155);
	font-weight: 700;
	font-size: 25px;
	font-size: 2.5rem;
}

.hero-right-section button {
	position: relative;
	left: 70px;
	margin-top: 20px;
}

.hero-right-section img {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	margin-right: 300px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0;
}

p {
	font-weight: 600;
	text-align: center;
}

footer ul {
	display: flex;
	gap: 30px;
}

footer ul a i {
	height: 50px;
	width: 50px;
}
